{% extends 'base.html' %}

{% block title %}
<title>Все блоги сайта</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blogs.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:wght@300;400;700&family=Sulphur+Point&display=swap" rel="stylesheet">
{% endblock%}

{% block content %}
<!-- block content -->

<header class="header">
	<div class="header_innner">
		<div class="wrapper">
			<h1>Все статьи на сайте</h1>
			<p class="blog__add"><a href="/write-blog">Добавить блог</a></p>

			{% if blog|length > 0 %}
			    {% for element in blog %}
			    <div class="container__blog">
			    	<div class="blog__item">
					    <h2>{{ element.title }}</h2>
					    <p>{{ element.body | safe }}</p>
					    <p class="date"><b>Дата: {{ element.date.date() }}</b></p>
					    <a class="detail" href="/blogs/{{ element.id }}">Детальнее</a>
				    </div>
				{% endfor %}
			    </div>
			{% else %}
			<p>У вас нет ни одного блога. Исправьте это дело!</p>
			{% endif %}
		</div>
	</div>
</header>
<!-- block content -->
{% endblock %}